# Configuration Email
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
SENDER_EMAIL=contact@lounarailtp.com
SENDER_PASSWORD=votre_mot_de_passe_app
RECIPIENT_EMAIL=contact@lounarailtp.com

# Configuration Sécurité
SECRET_KEY=votre_cle_secrete_tres_longue_et_complexe

# Configuration Base de données
DATABASE=lounarail_final.db

# Configuration Environnement
FLASK_ENV=production
FLASK_DEBUG=False

# Configuration Domaine
DOMAIN=lounarailtp.com
SITE_NAME=Louna Rail TP 